@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lexend+Deca&family=Train+One&display=swap');
:root {
  --main-color: #f7fff7;
  --background-color: #ff6b6b;
  --secondary-color: #ffe66d;
}

/* use variable this way color: var(--main-color)  */

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--main-color);
}
.main {
background-color: var(--main-color);
position: absolute;
height: auto;
width: auto;
}

header {
position:fixed;
top: 0px;
font-family: 'Lexend Deca', sans-serif;
color: var(--main-color);
font-size: 72px;
background-color: var(--background-color);
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
z-index: 1;
}
.nav {
margin-left: 1000px;
}
.NavigationItem {
margin-left: 30px;
font-family: 'Lexend Deca', sans-serif;
color: var(--main-color);
font-size: 20px;
border-radius: 5px;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
animation-name: firstanimation;
animation-duration: 1.5s;
}
.NavigationItem:hover {
color: var(--background-color);
background-color: var(--main-color);
transition-duration: 1.5s;
width: 100px;
}
.NavigationItem2 {
  margin-right: 30px;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--main-color);
  background-color: var(--background-color);
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.15));
  animation-name: firstanimation;
  animation-duration: 1.5s;
  }
.NavigationItem2:hover {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--background-color);
  background-color: var(--main-color);
  font-size: 20px;
  border-radius: 5px;
  transition-duration: 1.5s;
  }

a {
  text-decoration: none;
}

    @keyframes firstanimation {
      from 
      {opacity:0;}
        to 
        {opacity:1;}
        }

        .portfolio{
          margin: 4em 0;
             position: relative; 
         }
         .portfolio h1{
          color:#F97300;
          margin: 2em; 
         }
         .portfolio img{
           height: 15rem;
           width: 100%;
           margin: 1em;
           
         }
         
        
