/* Mixins are going next */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lexend+Deca&family=Train+One&display=swap");
* {
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box; }

*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #f7fff7; }

*::-webkit-scrollbar-thumb {
  background-color: #ff6b6b;
  border-radius: 5px; }

body, html {
  height: 100vh; }

body {
  margin: 0;
  background-color: #ff6b6b;
  height: 100vh; }

header {
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: "Lexend Deca", sans-serif;
  background-color: #f7fff7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 60px; }

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.NavigationItem {
  margin-right: 30px;
  font-family: "Lexend Deca", sans-serif;
  color: #ff6b6b;
  background-color: #f7fff7;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 25px;
  border-radius: 5px;
  animation-name: firstanimation;
  animation-duration: 1.5s; }

a {
  color: #ff6b6b;
  text-decoration: none; }

a:hover {
  color: #f7fff7; }

.NavigationItem:hover {
  color: #f7fff7;
  background-color: #ff6b6b;
  transition-duration: 1.5s;
  width: 100px; }

.NavigationItem2 {
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  color: #ff6b6b;
  background-color: #f7fff7;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  animation-name: firstanimation;
  animation-duration: 1.5s; }

.NavigationItem2:hover {
  font-family: "Lexend Deca", sans-serif;
  color: #f7fff7;
  background-color: #ff6b6b;
  font-size: 25px;
  border-radius: 5px;
  transition-duration: 1.5s; }

.main {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  display: inline-flex; }

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden; }

.description {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%; }

.logo {
  padding-top: 5%;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.15));
  animation-name: firstanimation;
  animation-duration: 2s; }

h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 70px;
  color: #f7fff7;
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.15));
  animation-name: firstanimation;
  animation-duration: 4s; }

h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 40px;
  color: #f7fff7;
  animation-name: firstanimation;
  animation-duration: 4s; }

@keyframes firstanimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.icons {
  display: flex;
  align-items: center;
  padding-top: 50px; }

.icon1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation-name: firstanimation;
  animation-duration: 4s;
  margin-right: 60px; }

.icon1:hover {
  display: block;
  background-color: #ff5b6b;
  border-radius: 5px;
  transition-duration: 0.5s; }

.icon2 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation-name: firstanimation;
  animation-duration: 4s;
  margin-right: 60px; }

.icon2:hover {
  display: block;
  background-color: #ff5b6b;
  border-radius: 5px;
  transition-duration: 0.5s; }

.icon3 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation-name: firstanimation;
  animation-duration: 4s;
  margin-right: 60px; }

.icon3:hover {
  display: block;
  background-color: #ff5b6b;
  border-radius: 5px;
  transition-duration: 0.5s; }

.menu-button {
  display: none !important; }

.menu-content {
  display: none; }

.menu + .menu-content:active,
.menu:focus + .menu-content {
  display: block; }

@media (max-width: 1400px) {
  .logo {
    max-width: 90%;
    max-height: 90%; } }
@media (max-width: 1277px) {
  .NavigationItem {
    font-size: 20px; }

  .NavigationItem2 {
    font-size: 20px; }

  h1 {
    font-size: 50px; }

  h2 {
    font-size: 30px; }

  .logo {
    max-width: 80%;
    max-height: 80%; } }
@media (max-width: 1070px) {
  .nav {
    padding-left: 45%; }

  .logo {
    max-width: 65%;
    max-height: 65%; } }
@media (max-width: 960px) {
  .NavigationItem {
    font-size: 15px; }

  .NavigationItem2 {
    font-size: 15px; }

  h1 {
    font-size: 35px; }

  h2 {
    font-size: 20px; } }
@media (max-width: 770px) {
  .content {
    flex-wrap: wrap-reverse; } }
@media (max-width: 450px) {
  .nav {
    display: none; }

  .content {
    display: none; }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b4d8;
    color: white;
    padding: 16px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    width: 98px;
    height: 37px;
    background-color: white;
    border: 1px solid #22322F;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; }

  .menu-button {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-content: center; }

  .menu-content {
    display: none;
    position: absolute;
    min-width: 98 px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 37px; }

  .menu-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    width: 98px;
    height: 37px;
    background-color: white;
    border: 1px solid #22322F;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; }

  .menu-content a:focus {
    background-color: #71a89e; }

  .menu-button:focus .menu-content {
    display: block; }

  .menu-button:hover .menu {
    background-color: #71a89e; } }

/*# sourceMappingURL=main.css.map */
